@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar o usuário";
}

<div class="text-center">
    <h3>Tem certeza que deseja apagar o usuário @Model.Nome? da sua lista?</h3>
</div>
<br />
<a class="btn btn-primary col-12" role="button" asp-controller="Usuario" asp-action="Index">Cancelar</a>
<br/>
<a class="btn btn-danger col-12" role="button" role="button" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar</a>